In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [2]:
covid_file = "../Resources/1_county_level_confirmed_cases.csv"
covid_df = pd.read_csv(covid_file)
covid_df.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,nchs_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
0,2020-09-04 00:28:22 UTC,county,Alabama,Autauga,"Autauga, Alabama, US",1001,Medium metro,55200.0,1349,2444.0,23,42.0
1,2020-09-04 00:28:22 UTC,county,Alabama,Baldwin,"Baldwin, Alabama, US",1003,Small metro,208107.0,4495,2160.0,40,19.0
2,2020-09-04 00:28:22 UTC,county,Alabama,Barbour,"Barbour, Alabama, US",1005,Non-core,25782.0,614,2382.0,7,27.0
3,2020-09-04 00:28:22 UTC,county,Alabama,Bibb,"Bibb, Alabama, US",1007,Large fringe metro,22527.0,542,2406.0,6,27.0
4,2020-09-04 00:28:22 UTC,county,Alabama,Blount,"Blount, Alabama, US",1009,Large fringe metro,57645.0,1037,1799.0,11,19.0

### Extract CSVs into DataFrames

In [3]:
unemployment_file = "../Resources/Unemployment.csv"
unemployment_df = pd.read_csv(unemployment_file)
unemployment_df.head()

,fips_code,Stabr,area_name,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2018
0,0,US,United States,"157,115,247","5,984,808",3.7,"61,937"
1,1000,AL,Alabama,"2,174,483","67,264",3.0,"49,881"
2,1001,AL,"Autauga County, AL","25,458",714,2.7,"59,338"
3,1003,AL,"Baldwin County, AL","94,675","2,653",2.7,"57,588"
4,1005,AL,"Barbour County, AL","8,213",324,3.8,"34,382"

### Transform Covid DataFrame

In [4]:
covid_df1 = covid_df.drop(columns=['nchs_urbanization'])
covid_df2 = covid_df1.dropna()
covid_df2.head()
 
# Create a filtered dataframe from specific columns
#premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
#premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
#premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

#premise_transformed.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
0,2020-09-04 00:28:22 UTC,county,Alabama,Autauga,"Autauga, Alabama, US",1001,55200.0,1349,2444.0,23,42.0
1,2020-09-04 00:28:22 UTC,county,Alabama,Baldwin,"Baldwin, Alabama, US",1003,208107.0,4495,2160.0,40,19.0
2,2020-09-04 00:28:22 UTC,county,Alabama,Barbour,"Barbour, Alabama, US",1005,25782.0,614,2382.0,7,27.0
3,2020-09-04 00:28:22 UTC,county,Alabama,Bibb,"Bibb, Alabama, US",1007,22527.0,542,2406.0,6,27.0
4,2020-09-04 00:28:22 UTC,county,Alabama,Blount,"Blount, Alabama, US",1009,57645.0,1037,1799.0,11,19.0

### Transform county DataFrame

In [5]:
unemployment_df1 = unemployment_df.drop(columns=['area_name','Stabr'])
unemployment_df1.head()

,fips_code,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2018
0,0,"157,115,247","5,984,808",3.7,"61,937"
1,1000,"2,174,483","67,264",3.0,"49,881"
2,1001,"25,458",714,2.7,"59,338"
3,1003,"94,675","2,653",2.7,"57,588"
4,1005,"8,213",324,3.8,"34,382"

### Create tables and database connection

In [6]:
Base = declarative_base()


# Creates Classes which will serve as the anchor points for our Tables
class Covid(Base):
    __tablename__ = 'covid'
    id = Column(Integer, primary_key=True)
    last_update = Column(String(255))
    location_type = Column(String(255))
    state = Column(String(255))
    county_name = Column(String(255))
    county_name_long = Column(String(255))
    fips_code = Column(Integer)
    total_population = Column(Integer)
    confirmed = Column(Integer)
    confirmed_per_100000 = Column(Integer)
    deaths = Column(Integer)
    deaths_per_100000 = Column(Integer)
    

class County(Base):
    __tablename__ = 'county'
    id = Column(Integer, primary_key=True)
    fips_code = Column(Integer)
    Employed_2019 = Column(Integer)
    Unemployment_rate_2019 = Column(Integer)
    Median_Household_Income_2018 = Column(Integer)

In [7]:
engine = create_engine('sqlite:///covid.db',echo=True)
connection = engine.connect()
Base.metadata.create_all(engine)

2020-09-07 16:06:25,820 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-07 16:06:25,821 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,823 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-07 16:06:25,824 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,826 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("covid")
2020-09-07 16:06:25,827 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,829 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("covid")
2020-09-07 16:06:25,830 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,831 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("county")
2020-09-07 16:06:25,833 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,834 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("county")
2020-09-07 16:06:25,835 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,837 INFO sqlalchemy.engine.base.Engine
CREATE TABLE covid (
	id INTEGER NOT NULL,
	last_update VARCHAR(255),
	location_type VARCHAR(255),
	state VARCHAR(255),
	county_name VARCHAR(255),
	county_name_long VARCHAR(255),
	fips_code INTEGER,
	total_population INTEGER,
	confirmed INTEGER,
	confirmed_per_100000 INTEGER,
	deaths INTEGER,
	deaths_per_100000 INTEGER,
	PRIMARY KEY (id)
)


2020-09-07 16:06:25,838 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,840 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:25,841 INFO sqlalchemy.engine.base.Engine
CREATE TABLE county (
	id INTEGER NOT NULL,
	fips_code INTEGER,
	"Employed_2019" INTEGER,
	"Unemployment_rate_2019" INTEGER,
	"Median_Household_Income_2018" INTEGER,
	PRIMARY KEY (id)
)


2020-09-07 16:06:25,842 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:25,844 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# Confirm tables
engine.table_names()

2020-09-07 16:06:27,690 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-07 16:06:27,691 INFO sqlalchemy.engine.base.Engine ()

['county', 'covid']

### Load DataFrames into database

In [9]:
covid_df2.to_sql(name='covid', con=engine, if_exists='replace', index=True)

2020-09-07 16:06:29,627 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("covid")
2020-09-07 16:06:29,628 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,631 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("covid")
2020-09-07 16:06:29,632 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,634 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-07 16:06:29,634 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,636 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("covid")
2020-09-07 16:06:29,637 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,639 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'covid' AND type = 'table'
2020-09-07 16:06:29,640 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,641 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("covid")
2020-09-07 16:06:29,642 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,644 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("covid")
2020-09-07 16:06:29,645 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,646 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'covid' AND type = 'table'
2020-09-07 16:06:29,647 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,650 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("covid")
2020-09-07 16:06:29,651 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,652 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("covid")
2020-09-07 16:06:29,652 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,653 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("covid")
2020-09-07 16:06:29,654 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,655 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("covid")
2020-09-07 16:06:29,656 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,660 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'covid' AND type = 'table'
2020-09-07 16:06:29,665 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,674 INFO sqlalchemy.engine.base.Engine
DROP TABLE covid
2020-09-07 16:06:29,676 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,685 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:29,691 INFO sqlalchemy.engine.base.Engine
CREATE TABLE covid (
	"index" BIGINT,
	last_update TEXT,
	location_type TEXT,
	state TEXT,
	county_name TEXT,
	county_name_long TEXT,
	fips_code BIGINT,
	total_population FLOAT,
	confirmed BIGINT,
	confirmed_per_100000 FLOAT,
	deaths BIGINT,
	deaths_per_100000 FLOAT
)


2020-09-07 16:06:29,693 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,696 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:29,698 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_covid_index ON covid ("index")
2020-09-07 16:06:29,699 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:29,702 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:29,707 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-07 16:06:29,744 INFO sqlalchemy.engine.base.Engine INSERT INTO covid ("index", last_update, location_type, state, county_name, county_name_long, fips_code, total_population, confirmed, confirmed_per_100000, deaths, deaths_per_100000) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-07 16:06:29,745 INFO sqlalchemy.engine.base.Engine ((0, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Autauga', 'Autauga, Alabama, US', 1001, 55200.0, 1349, 2444.0, 23, 42.0), (1, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Baldwin', 'Baldwin, Alabama, US', 1003, 208107.0, 4495, 2160.0, 40, 19.0), (2, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Barbour', 'Barbour, Alabama, US', 1005, 25782.0, 614, 2382.0, 7, 27.0), (3, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Bibb', 'Bibb, Alabama, US', 1007, 22527.0, 542, 2406.0, 6, 27.0), (4, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Blount', 'Blount, Alabama, US', 1009, 57645.0, 1037, 1799.0, 11, 19.0), (5, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Bullock', 'Bullock, Alabama, US', 1011, 10352.0, 541, 5226.0, 13, 126.0), (6, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Butler', 'Butler, Alabama, US', 1013, 20025.0, 841, 4200.0, 36, 180.0), (7, '2020-09-04 00:28:22 UTC', 'county', 'Alabama', 'Calhoun', 'Calhoun, Alabama, US', 1015, 115098.0, 2447, 2126.0, 31, 27.0)  ... displaying 10 of 3192 total bound parameter sets ...  (3192, '2020-09-04 00:28:22 UTC', 'county', 'Wyoming', 'Washakie', 'Washakie, Wyoming, US', 56043, 8129.0, 109, 1341.0, 6, 74.0), (3193, '2020-09-04 00:28:22 UTC', 'county', 'Wyoming', 'Weston', 'Weston, Wyoming, US', 56045, 7100.0, 20, 282.0, 0, 0.0))
2020-09-07 16:06:29,772 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
unemployment_df1.to_sql(name='county', con=engine, if_exists='replace', index=True)

2020-09-07 16:06:33,543 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("county")
2020-09-07 16:06:33,544 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,546 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("county")
2020-09-07 16:06:33,546 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,548 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-07 16:06:33,549 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,551 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("county")
2020-09-07 16:06:33,551 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,553 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'county' AND type = 'table'
2020-09-07 16:06:33,554 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,555 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("county")
2020-09-07 16:06:33,556 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,557 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("county")
2020-09-07 16:06:33,558 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,558 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'county' AND type = 'table'
2020-09-07 16:06:33,560 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,561 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("county")
2020-09-07 16:06:33,562 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,564 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("county")
2020-09-07 16:06:33,564 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,565 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("county")
2020-09-07 16:06:33,566 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,567 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("county")
2020-09-07 16:06:33,568 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,569 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'county' AND type = 'table'
2020-09-07 16:06:33,570 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,572 INFO sqlalchemy.engine.base.Engine
DROP TABLE county
2020-09-07 16:06:33,573 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,653 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:33,657 INFO sqlalchemy.engine.base.Engine
CREATE TABLE county (
	"index" BIGINT,
	fips_code BIGINT,
	" Employed_2019 " TEXT,
	" Unemployed_2019 " TEXT,
	"Unemployment_rate_2019" FLOAT,
	"Median_Household_Income_2018" TEXT
)


2020-09-07 16:06:33,659 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,662 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:33,665 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_county_index ON county ("index")
2020-09-07 16:06:33,668 INFO sqlalchemy.engine.base.Engine ()
2020-09-07 16:06:33,671 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-07 16:06:33,676 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-07 16:06:33,696 INFO sqlalchemy.engine.base.Engine INSERT INTO county ("index", fips_code, " Employed_2019 ", " Unemployed_2019 ", "Unemployment_rate_2019", "Median_Household_Income_2018") VALUES (?, ?, ?, ?, ?, ?)
2020-09-07 16:06:33,698 INFO sqlalchemy.engine.base.Engine ((0, 0, '157,115,247', '5,984,808', 3.7, '61,937'), (1, 1000, '2,174,483', '67,264', 3.0, '49,881'), (2, 1001, '25,458', '714', 2.7, '59,338'), (3, 1003, '94,675', '2,653', 2.7, '57,588'), (4, 1005, '8,213', '324', 3.8, '34,382'), (5, 1007, '8,419', '266', 3.1, '46,064'), (6, 1009, '24,655', '676', 2.7, '50,412'), (7, 1011, '4,643', '175', 3.6, '29,267')  ... displaying 10 of 3275 total bound parameter sets ...  (3273, 72151, '7,552', '1,139', 13.1, None), (3274, 72153, '8,331', '1,428', 14.6, None))
2020-09-07 16:06:33,715 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
connection.close()

In [ ]:
engine = db.create_engine('sqlite:///customer_db.db',echo=True)
connection = engine.connect()

In [ ]:
engine.execute('select * from premise')

In [ ]:
with engine.connect() as con:

    rs = con.execute('SELECT * FROM premise')

    for row in rs:
        print(row)

In [ ]:
rs = engine.execute('SELECT premise.id, premise.premise_name, county.county_name\
FROM premise\
INNER JOIN county\
ON premise.county_id = county.county_id;')

In [ ]:
print(rs)

In [ ]:
for i in rs:
    print(i)